.azeret-mono-kb{
  font-family: "Azeret Mono", monospace;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}
/* nav section */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 200px;
}

.nav-title{
    font-weight: 800;
    font-size: 30px;
}

nav ul li a{
    text-decoration: none;
    color: rgb(38, 38, 39);
    font-size: 25px;
}

.nav-btn{
    border-radius: 0%;
    padding: 5px;
    width: 150px;
    height: 48px;
    font-size: 20px;
    width: 260px; 
    border-radius: 5px;
}
.nav-btn:hover{
    letter-spacing: 2px;
    color: none;
}


            /* share style */

.dark{
    color: rgb(13, 19, 33);
}
 
.gry-dark{
    color:rgba(13, 19, 33, 0.7);
}
.dark-transparent{
    color: rgba(13, 19, 33, 0.521);
}

.btn-learn{
    border: 2px rgba(13, 19, 33, 0.7) solid;
    border-radius: 0%;
    padding: 5px;
    width: 150px;
    height: 48px;
    font-size: 20px;
}

button:hover{
    color: #04010a2f;
}

/* start banner design part */
.banner-container{
    margin: 0 auto;
    max-width: 1440px;
    height: 652px;
    background-image: url(../assets/Hero-bg.png);

}

.banner-content{
    margin: 0 auto;
    align-items: center;
    width: 998px;
    height: 582px;
}

.banner-items{
    margin-top: 26px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;  
}
 .banner-items h1{
    margin: 24px 0 12px 0;
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 38px;
    font-weight: 800;
    text-align: center;
 }

 .banner-items p{
    margin: 24px 73px 32px 73px;
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
 }

 .banner-items button{
    margin-top: 32px;
    width: 208px;
    height: 66px;
    border-radius: 8px;
    background-color: rgb(13, 19, 33);
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    border: none;
 }

      /* banner part end */

      /* development section start  */
.development-container{
    
    margin: 0 auto;
    max-width: 1140px;
    height: 1395px;
    margin-top: 140px;
    padding: 80px;
    margin-bottom: 74px;
    border-radius: 16px;
    background-color: rgba(13, 19, 33, 0.096);
}

.development-content{
    margin: 0 auto;
    width: 1043px;
    height: 1298px;
    margin-top: 48px;
}

.development-title{
    text-align: center;
}
.development-title h2{
    font-weight: 800;
    font-size: 32px;
    margin: 0;
}

.development-title p{
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 0;
}
.development-items{
    display: flex;
    flex-direction: row;
    padding: 48px;
    margin: 0;
}

            /* share development code items style */

.development-code{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1043px;
    height: 336px;
    padding: 0 48px 0 48px;
    margin-bottom: 0;
    border-radius: 16px;
    background: linear-gradient(90.00deg, rgb(255, 255, 255),rgba(255, 255, 255, 0) 100%);
}

.development-code-item{
    width: 55%;
}

.development-code-item h3{
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 26px;
    margin-top: 0;
}

.development-code-item p{
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 26px;
}

.development-text{
    margin-right: 150px;
    padding: 20px;
}

/* development section end  */

/* <!-- My Inspiration section start--> */

.inspiration-container{

    margin: 0 auto;
    max-width: 1140px;
    height: 777px;
    margin-bottom: 140px;

}

.inspiration-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.inspiration-title{
    text-align: center;
    margin: 0px 140px 50px 140px;
}


.inspiration-video{
    border: 2px rgba(13, 19, 33, 0.096) solid;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1076px;
    height: 550px;
    padding: 32px;
    border-radius: 16px;
}

 /* Mu current target start  */
 .target-container{
    width: 1140px;
    height: 463px;
    margin: 0 auto;
    padding: 0px;
    margin-bottom: 150px;
}


.target-text{
    text-align: center;
    padding: 0 144px;
}

.target-content{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
    

}

.target-html{
    background-color: rgba(255, 75, 30, 0.178);
    padding: 40px;
    border-radius: 16px;
    margin-right: 24px;
}



.target-css{
    background-color:rgba(0, 77, 232, 0.212);;
    padding: 40px;
    border-radius: 16px;
    margin-right: 24px;
}     
.target-javascript{
    background-color: rgba(255, 221, 0, 0.178);;
    padding: 40px;
    border-radius: 16px;
}   

.target-learn-color{
    color: #04010a;
    font-weight: 700;
    font-size: 16px;
}
            
            
            /* Mu current target end  */





/* <!-- i need support start --> */

.support-container{
    margin: 0 auto;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 20px;
    background-size: 100%;
    max-width: 1440px;
    height: 314px;
    padding: 48px;
    background-image:linear-gradient(90deg, #04010a88 , #07021162), url(../assets/handshake.jpg);

}

.support-content{
    margin: 0 auto;
    align-items: center;
}

.support-items{
    margin-top: 26px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;  
}

.support-items h1{
    color: white;
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 0;
}
.support-items p{
    width: 650px;
    text-align: center;
    color: white;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 0;
    margin: 24px 219px 24px 219px;
}

.support-items input{
    width: 548px;
    height: 52px;
    border-radius: 10px;
    border: none;
    padding-left: 20px;
}

.support-items button{
    width: 120px;
    height: 52px;
    border: none;
    border-radius: 10px;
    font-size: 20px;
    font-weight: 600;
    color: rgb(13, 19, 13);
}

            /* <!-- i need support end --> */

        /* footer section start  */
.footer{
    margin: 0 auto;
    background-color: rgba(13, 19, 33, 0.062);
    border-radius: 16px;
    margin-top: 80px;
    padding: 16px 150px;

}

.footer-content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0%;
}
#foter-p{
    font-weight: 700;
    font-size: 20px;
    color:rgb(13, 19, 13) ;
}

.footer-decoration a{
    text-decoration: none;
}

.footer-img{
    margin: 0px 15px
}
        /* footer section end  */